# Beginning Python
## From Novice to Professional

## Chapter 1: Instant Hacking: The Basics

In [62]:
input("The life is: ")

The life is: Amazing!

'Amazing!'

In [4]:
x = input("x: ")
y = input("y: ")

x: 24
y: 22

In [7]:
print(int(x)*int(y))

528

In [10]:
print(2**7)
print(pow(2,7))

128
128

In [33]:
def BBalgo(x,y):
    if x == 1 and y ==1:
        return (x+y)**2
    else:
        return ("This is not working")

In [34]:
print(BBalgo(1,1))
print(BBalgo(222,111))

4
This is not working

In [35]:
# absolute value
abs(-1)

1

In [55]:
# ÂõõËàç‰∫îÂÖ• round rounds floating-point numbers to the nearest integer
round(2/3)

1

In [54]:
2/3

0.6666666666666666

In [58]:
# Integer division always rounds down
print(2//3)

# Round a given number down
import math
print(math.floor(29.9))

# Convert the number into an integer
print(int(29.9))

# Finds the smallest integral value larger than or equal to the given number
print(math.ceil(29.1))
print(math.ceil(29))

0
29
29
30
29

In [60]:
from math import sqrt
sqrt(16)

4.0

In [61]:
# After using the from module import function, you can use the function without its module prefix.
from math import floor
floor(9.9)

9

In [63]:
sqrt(-9)

ValueError: math domain error

In [64]:
import cmath
cmath.sqrt(-9)

3j

In [65]:
name = input("what's your name?")
print("Hello," + name + "!")

what's your name?Bing
Hello,Bing!

In [66]:
print('''This is a very long string. It continues here. And it's not over yet. "Hello, world!"
Still here.''')

This is a very long string. It continues here. And it's not over yet. "Hello, world!"
Still here.

In [71]:
"\U0001F60A"

'üòä'

In [74]:
'Hello, world!'

'Hello, world!'

### Functions
- abs(number)
- bytes(string, encoding[, errors]) 
- cmath.sqrt(number)
- float(object)
- help([object])
- input(prompt)
- int(object)
- math.ceil(number) 
- math.floor(number) 
- math.sqrt(number)
- pow(x, y[, z]) 
- print(object, ...) 
- repr(object) 
- round(number[, ndigits])
- str(object)

Returns the absolute value of a number.
Encodes a given string, with the specified behavior for errors.
Returns the square root; works with negative numbers.
Converts a string or number to a floating-point number.
Offers interactive help.
Gets input from the user as a string.
Converts a string or number to an integer.
Returns the ceiling of a number as a float.
Returns the floor of a number as a float.
Returns the square root; doesn‚Äôt work with negative numbers.
Returns x to the power of y (modulo z).
Prints out the arguments, separated by spaces.
Returns a string representation of a value.
Rounds a number to a given precision, with ties rounded to the even number.
Converts a value to a string. If converting from bytes, you may specify encoding and error behavior.

## Chapter 2: Lists and Tuples

In [77]:
martin = ['MX',24]
john = ['JS', 50]

In [79]:
db = [martin,john]
db

[['MX', 24], ['JS', 50]]

In [3]:
name = "bbz"; grade = "A+"
"The name is {} and the grade is {}".format(name,grade)

'The name is bbz and the grade is A+'

In [11]:
animals = ["lions","elephant","zebras"]
safari = "I saw {}, {} and {}!"

safari.format(animals[1].upper(),animals[0],animals[2])

'I saw ELEPHANT, lions and zebras!'

In [7]:
safari.format(*animals)

'I saw lions, elephant and zebras!'

In [13]:
num = '800'
type(num)

str

In [14]:
eval(num)
type(num)

str

In [15]:
eval(num) + 10

810

In [25]:
"days left are {num:.3f}".format(num = 10/3)

'days left are 3.333'

In [26]:
num = 10/3
f"days left are {num:.3f}"

'days left are 3.333'

### Dictionary

In [1]:
d1 = {}
d1["A"] = 10
d1["B"] = 20
d1

{'A': 10, 'B': 20}

In [14]:
animals = {"puppy": "90$", "cat": "68$"}
d1.update(animals)
d1

{'A': 99, 'puppy': '90$', 'cat': '68$'}

In [15]:
d1["A"] = 99
d1

{'A': 99, 'puppy': '90$', 'cat': '68$'}

In [16]:
d1.pop("A")
d1

{'puppy': '90$', 'cat': '68$'}

In [17]:
d1.values()

dict_values(['90$', '68$'])

In [19]:
# Convert into list or tuple for indexing
list(d1.values())[0:]

['90$', '68$']

In [20]:
tuple(d1)

('puppy', 'cat')

In [22]:
list(d1.items())[0]

('puppy', '90$')

In [23]:
maze = {"k1": d1,
       "k2": [10,20,30],
       "k3":("tuple", [1,2, {"k4": ["a","b","catch me!"]}])}

maze

{'k1': {'puppy': '90$', 'cat': '68$'},
 'k2': [10, 20, 30],
 'k3': ('tuple', [1, 2, {'k4': ['a', 'b', 'catch me!']}])}

In [73]:
maze["k3"][1][2]["k4"][2]

'catch me!'

# Section 2 LISTS EXERCISE

### TASK 1: ADD ALL DICTIONARY VALUES

In [47]:
toys = {"robot": "$40.0", "car": "$25", "ironman": "$12"}

In [69]:
'''HINTS?
1. Use the values() method.
2. Use list
3. Use the built-in Python function, eval() to convert a string to a number.
4. Use list slicing with the appropriate index to grab the numbers. Add them together. 5. Use the int type.'''

t = list(toys.values())
print(t)
int(eval(t[0][1:])+eval(t[1][1:])+eval(t[2][1:]))

['$40.0', '$25', '$12']

77

### TASK 2: USE COMPARISON OPERATORS IN A LIST

In [ ]:
# questions = [10 4, 50 50, 90 10, "c" ("a", "b", "c"), 100 100]

# != == in
# DESIRED OUTPUT</font> [True, True, False, True, False]
# Use only the three of the operators shown above.

In [75]:
questions = [10!=4, 50 == 50, 90 == 10, "c" in ("a", "b", "c"), 100 !=100]
questions

[True, True, False, True, False]

### TASK 3: LEN KEY VALUES WITH COMPARISON OPERATORS

In [76]:
films = {"k1": "blade runner 2049", "k2": "matrix", "k3": "ninja scroll"}

In [82]:
len(films["k3"])< len(films["k1"]) > len(films["k2"])

True

### TASK 4: UPDATE DICTIONARY

In [96]:
life_stages = {0: "embryo", 1: "fetus", 2:"baby", 3:"infant",4: "teen"}
life_stages

{0: 'embryo', 1: 'fetus', 2: 'baby', 3: 'infant', 4: 'teen'}

In [97]:
new = {5:"adult",6:"big kid!"}

In [100]:
life_stages.update(new)
life_stages

{0: 'embryo',
 1: 'fetus',
 2: 'baby',
 3: 'infant',
 4: 'teen',
 5: 'adult',
 6: 'big kid!'}

### TASK 5: ADD ALL VALUES FROM LIST

In [101]:
nest1 = [(1,2,3), {"k1": [30, 1, 300, 2, 77], "k2": [10,20,30]}, ["a", "500" , "c"]]
nest1

[(1, 2, 3), {'k1': [30, 1, 300, 2, 77], 'k2': [10, 20, 30]}, ['a', '500', 'c']]

In [113]:
'''1. Add 3, 300, 30 and 500 together from each of the nested tuples, dictionaries or lists. 2. Use only the two built-in python functions shown above.
3. Use the Python built-in function, sorted for "k1".
4. For the nested dictionary,"k1", index only by -1, not 2.
5. Use the float.'''


float(nest1[0][2] + nest1[1]["k1"][0] + sorted(nest1[1]["k1"])[-1] + eval(nest1[2][1]))

833.0

### TASK 6: ADD ALL LIST VALUES INTO A STRING

In [162]:
prices = ["a", "b", "9", "c", "d", "FOUR", "e", "f", "2.5"] 
cash = prices[2::3]
sentence = """The bill for the {}#!/,?? {}#!/ ??and drink came to {}??"""

In [163]:
sentence

'The bill for the {}#!/,?? {}#!/ ??and drink came to {}??'

In [164]:
cash = prices[2::3]
cash

['9', 'FOUR', '2.5']

In [165]:
tt = eval(cash[0])+ len(cash[1])+eval(cash[2])
tt

15.5

In [166]:
food = ["pizza","chips","$"+ str(tt)]

In [167]:
sentence.format(*food).replace("??","").replace("#!/","")

'The bill for the pizza, chips and drink came to $15.5'

# Section 4 Control Flow Exercise

### TASK 1: CONTROL FLOW WITH DICTIONARY

In [25]:
d1 = {"k1": [1,2,3, (100, 300, 500)], "k2":[4,5,6, ["phone", "computer", " robot"]]}
var = eval(input("Enter a number: "))

if var in d1["k1"]:
    print("found you!")
    num = input("Enter a number or string: ")
    if (num) in d1["k2"][:3]: 
        print("Found another one!")
    elif num in d1["k2"][3]: 
        print("Got a", num)
    else:
        print("Can't find anything!")
elif var in d1["k1"][3]: 
    print("can't hide!")
else:
    print("Where are you?")

Enter a number: 4
Where are you?

### TASK 2: CONTROL FLOW WITH ONLY ONE IF STATEMENT

choose = eval(input("Enter a number 0 to 2: "))
pick = eval(input("Enter a number 0 to 2: "))

if (choose >2 and pick >2)or (choose <=2 and pick >2)or (choose >2 and pick< =2):
    None
else:
    meal = []
    cooked_pasta = ["hot", "cold", "over cooked"][choose] sauce = ["spicy", "sweet", "savoury"][pick]
    print("My meal is", cooked_pasta, "and very", sauce, "!")

# Section 5 LOOPS

### FOR LOOPS

In [34]:
for i in range(3):
    print("a loop")

a loop
a loop
a loop

In [38]:
animals = ['pig','tiger','hawk','giraffe','wolf']
for animal in animals:
    print(animal)

pig
tiger
hawk
giraffe
wolf

In [40]:
for num in range(10):
    print(num, num**2, num**3)

0 0 0
1 1 1
2 4 8
3 9 27
4 16 64
5 25 125
6 36 216
7 49 343
8 64 512
9 81 729

In [45]:
nest1 = [[1,2,3],[4,5,6],['sword','hammer','sheild']]

for i in range(3):
    print(nest1[i])

[1, 2, 3]
[4, 5, 6]
['sword', 'hammer', 'sheild']

In [56]:
for i in range(3):
    res = nest1[0][i] + nest1[1][i]
    print(nest1[2][i].capitalize() + ": power level = ",res)

Sword: power level =  5
Hammer: power level =  7
Sheild: power level =  9

In [64]:
weapons = []
for i in range(3):
    s = nest1[2][i].capitalize() + ": power level = " + str(nest1[0][i] + nest1[1][i])
    weapons.append(s)
weapons

['Sword: power level = 5',
 'Hammer: power level = 7',
 'Sheild: power level = 9']

In [68]:
for i in range(0,10):
    print("{} + {} = {}".format(i,i,(i+i)))

0 + 0 = 0
1 + 1 = 2
2 + 2 = 4
3 + 3 = 6
4 + 4 = 8
5 + 5 = 10
6 + 6 = 12
7 + 7 = 14
8 + 8 = 16
9 + 9 = 18

In [74]:
for k in range(0,10):
    print("%d * %d = %f" % (k,k, k*k))

0 * 0 = 0.000000
1 * 1 = 1.000000
2 * 2 = 4.000000
3 * 3 = 9.000000
4 * 4 = 16.000000
5 * 5 = 25.000000
6 * 6 = 36.000000
7 * 7 = 49.000000
8 * 8 = 64.000000
9 * 9 = 81.000000

In [82]:
tup1 = ((1,2,3), (4,5,6), ("a","b","c"))

for i in range(2):  #i stands for loop times
    for x,y,z in tup1:
        print(x,y,z)

1 2 3
4 5 6
a b c
1 2 3
4 5 6
a b c

In [84]:
# for loop using dictionary

cakes = ["chocolate","lemon","vanlila","motcha"]

d1 = {"k1": tuple(cakes), "k2": [10,20,30,40]}
d1["k2"]

[10, 20, 30, 40]

In [85]:
for d in d1["k1"]:
    print(d)

chocolate
lemon
vanlila
motcha

In [87]:
for i in range(4):
        for x in d1:
            print(x,":",d1[x][i])

k1 : chocolate
k2 : 10
k1 : lemon
k2 : 20
k1 : vanlila
k2 : 30
k1 : motcha
k2 : 40

### WHILE LOOPS
- Similar to a for loop, while loops output each element, but based on a while statement being True.
- Once the while statement is no longer ture, the while loop ends.

In [103]:
x = 2
while x <= 10:
    print(x)
    x += 2

2
4
6
8
10

In [115]:
w = 10000
while w > 10:
    print("The division is:",w)
    w//=5
    
    if w < 10:
        print("STOP!")

The division is: 10000
The division is: 2000
The division is: 400
The division is: 80
The division is: 16
STOP!

In [124]:
lang = ["python", "Java", "R", "Tableau", "JavaScript", "Julia", "C", "C++"]

x = 0
while x < len(lang):
    print(lang[x]) ; x+=2

python
R
JavaScript
C

In [125]:
g = 0
while g < 5:
    print(g)
    g+=1
    
'''
# the same in For loop:

for g in range(5):
    print(g)'''

0
1
2
3
4

In [130]:
num1 = 0
while num1<11:
    print("while num1 = ", num1)
    for g in [50,80,110]:
        res = num1 + g
        print(res)
    num1 +=5

while num1 =  0
50
80
110
while num1 =  5
55
85
115
while num1 =  10
60
90
120

### CONTROL FLOW IN LOOPS

# LeetCode

In [109]:
s="Sore was I ere I saw Eros."
m=list(s)
n=set(list("aeiouAEIOU"))
i,j=0,len(m)-1
while i<j:
    if m[i] in n and m[j] in n:
        m[i], m[j]=m[j], m[i]
        i+=1
        j-=1
    if m[i] not in n:
        i+=1
    if m[j] not in n:
        j-=1
print(''.join(m))

SorE was I ere I saw eros.

In [133]:
def patterna(pattern,str):
    a=str.split()
    if len(pattern) != len(a):
        return False
    else:
        return len(set(list(zip(pattern,a)))) == len(set(pattern)) == len(set(a))
patterna('abba','dog fish fish dog cat')

False

In [137]:
def function(x):
    x=x+2
    return x
function(3)

5

In [57]:
nums1 = [1,2,2,1]
nums2 = [2,2]
nums1

[1, 2, 2, 1]

In [59]:
nums2.remove(nums1[2])
nums2

[2]

In [61]:
nums3 = []
nums3.append(nums2)

nums3

[[2]]

In [1]:
ListOfNumbers = [i for i in range(10)]
ListOfNumbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
print([[x,y] for x in [1,2,3] for y in [4,5,6]])

[[1, 4], [1, 5], [1, 6], [2, 4], [2, 5], [2, 6], [3, 4], [3, 5], [3, 6]]

In [4]:
result = []
for x in [1,2,3]:
    for y in [3,4,5]:
        result.append([x,y])
        
print(result)

[[1, 3], [1, 4], [1, 5], [2, 3], [2, 4], [2, 5], [3, 3], [3, 4], [3, 5]]

In [17]:
a = [1,1,1]
b = [4,5,6]

result = []

a.append(b)
print(a)

[1, 1, 1, [4, 5, 6]]

In [18]:
num1 = [i for i in range (10) if i%2 == 0]
num1

[0, 2, 4, 6, 8]

In [26]:
ransomNote = {'aa'}
magazine = {'ab'}

for i in magazine:
    print(i)

ab

In [7]:
import collections
collections.Counter(ransomNote)

NameError: name 'ransomNote' is not defined

In [34]:
list(magazine)

['ab']

In [9]:
s = "leetcode"
word = list(s)

for i in word:
    print(i)

l
e
e
t
c
o
d
e

1

In [8]:
collections.Counter(s)

Counter({'l': 1, 'e': 3, 't': 1, 'c': 1, 'o': 1, 'd': 1})

In [10]:
s.index(i)

1

In [11]:
from collections import OrderedDict

In [12]:
s

'leetcode'

In [33]:


odict = OrderedDict()
for i in s:
    odict[i] = odict[i] + 1 if i in odict else 1
print(odict)

for j,k in odict.items():
    if k == 1:
        return s.index(j)
return (-1)

OrderedDict([('l', 1), ('e', 3), ('t', 1), ('c', 1), ('o', 1), ('d', 1)])

SyntaxError: 'return' outside function (<ipython-input-33-649c51884e61>, line 8)

In [42]:
class Solution:
    def firstUniqChar(self, s: str) -> int:
        odict = OrderedDict()
        for i in s:
            odict[i] = odict[i] + 1 if i in odict else 1
        for j,k in odict.items():
            if k == 1:
                print(s.index(j))
        print(-1)

In [48]:
s.index('t')

3

In [78]:
s = "abbd"
t = "abbde"

In [70]:
list(collections.Counter(t)-collections.Counter(s))[0]

'e'

In [79]:
set(t)

{'a', 'b', 'c', 'd', 'e'}

In [82]:
t.count('e')

2

In [107]:
a_dict = {'one':1,'three':3}
a_dict['two'] = 2
a_dict['four'] = 4

In [108]:
print(a_dict['two'])

2

In [109]:
a_dict['one']

1

In [110]:
a_dict['four']

4

In [111]:
a_dict["three"]

3

In [112]:
a_dict

{'one': 1, 'three': 3, 'two': 2, 'four': 4}

In [114]:
if 'three' in a_dict:
    print (a_dict['three'])
else:
    print ('NA')

3

In [115]:
del a_dict['four']

In [116]:
a_dict

{'one': 1, 'three': 3, 'two': 2}

In [120]:
n = 2
n_dict = {'Harsh': [25, 26.5, 28], 'Anurag': [26,28,30]}
name = 'Harsh'

In [121]:
n_dict

{'Harsh': [25, 26.5, 28], 'Anurag': [26, 28, 30]}

In [122]:
name

'Harsh'

In [137]:
sum(n_dict[name])/

39.75

In [146]:
list(n_dict['Harsh'])

[25, 26.5, 28]

In [148]:
n_dict.count(['Harsh'])

AttributeError: 'dict' object has no attribute 'count'

In [1]:
score = [25, 26.5, 28]

In [152]:
len(score)

3

In [258]:
def function(s,t):
    index=-1
    for i in range(len(s)):
        for j in range(index+1,len(t)):
            if s[i]==t[j]:
                index=j
                break
        else:
            return False
    return True
function('e','ahbgdc')

False

In [272]:
def function(s,t):
    m = sum([1 for i in range(len(t)) for j in range(len(s)) if t[i] == s[j]])
    return m==len(s)
function('acb','ahbgdc')

True

In [5]:
input().split()

567889

['567889']

In [7]:
n = int(input())

123

In [8]:
input().split()

123

['123']

In [16]:
map(int,1)

TypeError: 'int' object is not iterable

In [20]:
def f(x):

    return x*x

print map(f, [1, 2, 3, 4, 5, 6, 7, 8, 9])

SyntaxError: invalid syntax (<ipython-input-20-54cc570eeed0>, line 5)

In [32]:
def Square(i):
    return i*i
x = map(Square, [1,2,3,4,5,6])
t = tuple(x)
print(t)
print(hash(t))

(1, 4, 9, 16, 25, 36)
2913413941809559040

In [40]:
import calendar
print (calendar.TextCalendar(firstweekday=6).formatyear(2015))

                                  2015

      January                   February                   March
Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa
             1  2  3       1  2  3  4  5  6  7       1  2  3  4  5  6  7
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       8  9 10 11 12 13 14
11 12 13 14 15 16 17      15 16 17 18 19 20 21      15 16 17 18 19 20 21
18 19 20 21 22 23 24      22 23 24 25 26 27 28      22 23 24 25 26 27 28
25 26 27 28 29 30 31                                29 30 31

       April                      May                       June
Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa
          1  2  3  4                      1  2          1  2  3  4  5  6
 5  6  7  8  9 10 11       3  4  5  6  7  8  9       7  8  9 10 11 12 13
12 13 14 15 16 17 18      10 11 12 13 14 15 16      14 15 16 17 18 19 20
19 20 21 22 23 24 25      17 18 19 20 21 22 23      21 22 23 24 25 26 27
26 27 28 29 30            24 25 26 27 28 29 30      28 29 30
                          31

        July                     August                  September
Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa
          1  2  3  4                         1             1  2  3  4  5
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       6  7  8  9 10 11 12
12 13 14 15 16 17 18       9 10 11 12 13 14 15      13 14 15 16 17 18 19
19 20 21 22 23 24 25      16 17 18 19 20 21 22      20 21 22 23 24 25 26
26 27 28 29 30 31         23 24 25 26 27 28 29      27 28 29 30
                          30 31

      October                   November                  December
Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa
             1  2  3       1  2  3  4  5  6  7             1  2  3  4  5
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       6  7  8  9 10 11 12
11 12 13 14 15 16 17      15 16 17 18 19 20 21      13 14 15 16 17 18 19
18 19 20 21 22 23 24      22 23 24 25 26 27 28      20 21 22 23 24 25 26
25 26 27 28 29 30 31      29 30                     27 28 29 30 31

In [42]:
import calendar
print (calendar.TextCalendar(firstweekday=6).formatyear(2020))

                                  2020

      January                   February                   March
Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa
          1  2  3  4                         1       1  2  3  4  5  6  7
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       8  9 10 11 12 13 14
12 13 14 15 16 17 18       9 10 11 12 13 14 15      15 16 17 18 19 20 21
19 20 21 22 23 24 25      16 17 18 19 20 21 22      22 23 24 25 26 27 28
26 27 28 29 30 31         23 24 25 26 27 28 29      29 30 31

       April                      May                       June
Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa
          1  2  3  4                      1  2          1  2  3  4  5  6
 5  6  7  8  9 10 11       3  4  5  6  7  8  9       7  8  9 10 11 12 13
12 13 14 15 16 17 18      10 11 12 13 14 15 16      14 15 16 17 18 19 20
19 20 21 22 23 24 25      17 18 19 20 21 22 23      21 22 23 24 25 26 27
26 27 28 29 30            24 25 26 27 28 29 30      28 29 30
                          31

        July                     August                  September
Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa
          1  2  3  4                         1             1  2  3  4  5
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       6  7  8  9 10 11 12
12 13 14 15 16 17 18       9 10 11 12 13 14 15      13 14 15 16 17 18 19
19 20 21 22 23 24 25      16 17 18 19 20 21 22      20 21 22 23 24 25 26
26 27 28 29 30 31         23 24 25 26 27 28 29      27 28 29 30
                          30 31

      October                   November                  December
Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa
             1  2  3       1  2  3  4  5  6  7             1  2  3  4  5
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       6  7  8  9 10 11 12
11 12 13 14 15 16 17      15 16 17 18 19 20 21      13 14 15 16 17 18 19
18 19 20 21 22 23 24      22 23 24 25 26 27 28      20 21 22 23 24 25 26
25 26 27 28 29 30 31      29 30                     27 28 29 30 31

In [45]:
print(calendar.weekday(2020,10,7))

2

In [49]:
print((calendar.day_name[calendar.weekday(2020,10,8)]))

Thursday

In [67]:
str = 'x j b'
str.split(' ')

['x', 'j', 'b']

In [78]:
a = [4,5,5,6,8,9,2,1]
set(a)

{1, 2, 4, 5, 6, 8, 9}

In [79]:
sorted(a)

[1, 2, 4, 5, 5, 6, 8, 9]

In [73]:
aa = [666]
for i in range(10):
    print(i)
aa.append(str(i))

0
1
2
3
4
5
6
7
8
9

TypeError: 'str' object is not callable

In [72]:
str(i)

TypeError: 'str' object is not callable

In [102]:
str = "1 234 4"
str.split()

['1', '234', '4']

In [19]:
s = "abab"
s

'abab'

In [2]:
ss = list(s)

In [3]:
ss

['a', 'b', 'a', 'b']

In [12]:
len(list(s))

1

In [9]:
len(list(set(list(s))))

2

In [10]:
len(list(s))%len(list(set(list(s))))==0

True

In [20]:
s+s

'abababab'

In [21]:
(s+s)[1:-1]

'bababa'

In [30]:
nums = [5,4,3,2,1]
nums[0]

5

In [24]:
nums[0+2]

0

In [25]:
max(nums)

1

In [31]:
nums.append("golden medal")

In [35]:
nums.remove(nums[0])

In [36]:
nums

[4, 3, 2, 1, 'golden medal']

In [37]:
count = 2

In [38]:
nums.append(count)

In [39]:
nums

[4, 3, 2, 1, 'golden medal', 2]

In [42]:
nums_2 = [1,2,3,4,6]
a = sorted(nums_2, reverse=True)

In [43]:
a

[6, 4, 3, 2, 1]

In [45]:
nums_2.append("aaa",3)

TypeError: append() takes exactly one argument (2 given)

In [53]:
def f(substring, string):
    return sum([1 for i in range(len(string)-len(substring)+1) if substring==string[i:i+len(substring)]])
f('abc','abcabcacabc')

3

In [16]:
import math
math.ceil(6.4)

7

In [48]:
import textwrap
import math
l = []
def wrap(string, max_width):
    for i in range(math.ceil(len(string)/max_width)):
        l.append(string[i:i+max_width])
        i = i + max_width    
        print(l)
        
wrap('ABCDEFGHIJKLMNOPQRSTUVWXYZ', 4)

['ABCD']
['ABCD', 'BCDE']
['ABCD', 'BCDE', 'CDEF']
['ABCD', 'BCDE', 'CDEF', 'DEFG']
['ABCD', 'BCDE', 'CDEF', 'DEFG', 'EFGH']
['ABCD', 'BCDE', 'CDEF', 'DEFG', 'EFGH', 'FGHI']
['ABCD', 'BCDE', 'CDEF', 'DEFG', 'EFGH', 'FGHI', 'GHIJ']

In [62]:
def wrap(string, max_width):
    for i in range(0,len(string),max_width):
        result=string[i:i+max_width]
        if len(result) == max_width:
            print(result)
        else:
            print(string[i:i+(len(string)%max_width)])
wrap('ABCDEFGHIJKLMNOPQRSTUVWXYZ',4)

ABCD
EFGH
IJKL
MNOP
QRST
UVWX
YZ

In [61]:
for i in range(0,26,4):
    print(i)

0
4
8
12
16
20
24

In [64]:
print("HELLO".center(9,"-"))

--HELLO--

In [70]:
print(".|.".center(27,"-"))

------------.|.------------

In [73]:
print(".|.".center(27,"-"))
print(".|..|..|.".center(27,"-"))
print(".|..|..|..|..|.".center(27,"-"))
print(".|..|..|..|..|..|..|.".center(27,"-"))
print("WELCOM".center(27,"-"))
print("..|..|..|..|..|..|..|.".center(27,"-"))
print(".|..|..|..|..|.".center(27,"-"))
print(".|..|..|.".center(27,"-"))
print(".|.".center(27,"-"))

------------.|.------------
---------.|..|..|.---------
------.|..|..|..|..|.------
---.|..|..|..|..|..|..|.---
-----------WELCOM----------
---..|..|..|..|..|..|..|.--
------.|..|..|..|..|.------
---------.|..|..|.---------
------------.|.------------

In [83]:
N,M = map(int,input().split(" "))

2 3

In [13]:
s = [1,2,3]
a = s[::-1]
b = s[1:]
add = a+b

print(a)
print(b)
print(add)

[3, 2, 1]
[2, 3]
[3, 2, 1, 2, 3]

In [20]:
print('\n'.join(alpha[1:4]))

b
c
d

In [34]:
s[:0:-1]

[3, 2]

In [35]:
s = "happy b-day martin"
import string
string.capwords(s)

'Happy B-day Martin'

In [36]:
s.title()

'Happy B-Day Martin'

In [37]:
phrase = 'mackbook is what'
phrase.title()

'Mackbook Is What'

In [43]:
hey = 'i love you'
print(hey.capitalize())
i = 'i'
print(hey.replace(i, i.capitalize()))
print(hey.title())

I love you
I love you
I Love You

In [45]:
i.upper()

'I'

In [46]:
s.capitalize()

'Happy b-day martin'

In [16]:
alist = [1,2,3,4]
sum(alist[:4])

10

In [10]:
max(alist)

4

In [15]:
i = 3

In [17]:
alist.remove(i)

In [18]:
alist

[1, 2, 4]

In [11]:
num = 38
len(str(num))

2

In [37]:
a = [i for i in str(num)]

In [60]:
num = eval('+'.join(a))

In [61]:
num

11

In [113]:
A = "this is is an apple"
B = "this is an bb"

In [114]:
a = str(A).split(" ")

In [115]:
a

['this', 'is', 'is', 'an', 'apple']

In [116]:
len(a)

5

In [118]:
a.count(a[1])

2

In [119]:
a.remove(a[0])

In [120]:
a

['is', 'is', 'an', 'apple']

In [89]:
def MostCommon(paragraph, banned):

    para = (paragraph.replace(',','').replace('.','').replace('!','').replace('?','').replace(';','').replace("'",'')).lower().split(" ")
    alist = []
    for i in range(len(para)):
        if para.count(i) > 1:
            print(para[i])
MostCommon("Bob hit a ball, the hit BALL flew far after it was hit.","hit")

In [64]:
paragraph = "Bob hit a ball, the hit BALL flew far after it was hit."
banned = "hit"

In [67]:
para = (paragraph.replace(',','').replace('.','').replace('!','').replace('?','').replace(';','').replace("'",'')).lower().split(" ")
para

['bob',
 'hit',
 'a',
 'ball',
 'the',
 'hit',
 'ball',
 'flew',
 'far',
 'after',
 'it',
 'was',
 'hit']

In [66]:
para.count('ball')

2

In [72]:
'ball' not in banned

True

In [137]:
import collections
c = collections.Counter(para)
c

Counter({'bob': 1,
         'hit': 3,
         'a': 1,
         'ball': 2,
         'the': 1,
         'flew': 1,
         'far': 1,
         'after': 1,
         'it': 1,
         'was': 1})

In [138]:
c.most_common()[0][0]

'hit'